/* 
    - Rosa: #E1B3B3
    - Azul: #B5D7D6
    - Cinza: #D7D7D7
*/
.clear{
    display: block;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #888;
    margin: 0 auto;
    padding: 0;
    background: url("../images/background01.jpg");
} 

h1{
    color: #555;
}

h2{
    color: #666;
}

h3{
    color: #B5D7D6;
}

.card{
    width: 1000px;
    padding: 10px 30px;
    margin: 30px auto;
    background: white;
    border-radius: 20px;
    border: 2px solid #B5D7D6;
    box-shadow: 5px 5px 5px #aaa;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: #E1B3B3;
    display: block;
    width: 160px;
    border-bottom: 3px solid white;
    text-align: center;
    padding-top: 30px;
}

nav a:hover{
    border-bottom: 3px solid #888;
    color: #888;
}

.card img{
    width: 200px;
    float: right;
    margin: 30px 10px;
}

a{
    text-decoration: none;
    color: #E1B3B3;
}

a:hover{
    color: #888;
    text-decoration: underline;
}